extend ../layouts/default
include ../helpers/mixins

block variables

block content
  .container 
    .container__title Монтаж дымоходов
    .bread-path 
      p.main Главная >&nbsp;
      p.next_page Монтаж дымоходов
    .desc-container
      .desc-container__description 
        p В 
          span.red Дымоход.ру
          |&nbsp;вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые 
          |ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть.
    .desc_outer
      .desc_inner
        .desc_inner__title 
          p.little__title Lorem ipsum dolor sit amet
          p.big__title.red Lorem ipsum
        .desc_inner__list
          ul 
            li Доступные цены
            li Собственное производство  Дымоходов
            li Выполнение необходимых работ, связанных с установкой камина, печи, котла
            li Гарантия (от трёх до десяти лет)
            li Работаем чисто, аккуратно, убираем за собой, не сквернословим
            li Только русские квалифицированные специалисты
            li Устанавливаем дымоходы всех произоводителей
      .desc_outer_tube 
        img.desc_outer_tube__picture(src="./assets/images/image1.png", alt="")
    +titler("Процесс выполнения монтажа")
    .main__process
      .main__process__first
        +processer(1,"Расчет предварительной заявки")
        +processer(2,"Замер объекта нашим инженером")
        +processer(3,"Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы ")
      .main__process__second
        +processer(4,"Изготовление Дымохода, покраска (если требуется)")
        +processer(5,"Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация")
        +processer(6,"Гарантийное обслуживание по соответствующем сроку")
    +titler("Почему Дымоход.ру?")
    .text__differ
      p В отличие от других производителей, мы ручаемся за качество продукции, 
        |т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык»
    .cart__icons
      +card("./assets/images/guarantee.png","Большой гарантийный срок")
      +card("./assets/images/architect.png", "Помощь в покупке агрегата")
      +card("./assets/images/review.png", "Реальные отзывы клиентов")
      
      


      
    
      
