extends ../layouts/default

block variables

block content
  .container 
    .container__title Монтаж дымоходов
    .bread-path 
      p Главная >&nbsp;
      p Монтаж дымоходов
    .description 
      p В 
        span.red Дымоход.ру
        |&nbsp;вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые 
        |ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть.
      
      
