@import 'base/fonts';
@import 'base/globals';

@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/variables';

@import 'libs/libs';
@import '../components/components';

html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    
}
