* {
    font-family: Montserrat;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.container {
    margin-top: 56px;
    width: 1218px;
    height: 100%;
    align-self: center;
}

.container__title {
    font-size: 60px;
    line-height: 73px;
    color: #000000;
    margin: 0;
}

.bread-path {
    font-size: 12px;
    display: flex;
    margin-top: 41px;
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
}

.description {
    font-size: 16px;
    margin-top: 85px;
    line-height: 30px;
}

.description__title {
    font-size: 40px;
}

.red {
    color: #E33E54;
}