* {
    font-family: Montserrat;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.container {
    margin-top: 56px;
    width: 1218px;
    height: 100%;
    align-self: center;
}

.container__title {
    font-size: 60px;
    line-height: 73px;
    color: #000000;
    margin: 0;
}

.bread-path {
    font-size: 12px;
    display: flex;
    margin-top: 41px;
    border-bottom: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    .main {
        color: #B1B1B1;
    }
    .next_page {
        color: #4C858B;
    }
}

.desc-container__description  {
    font-size: 16px;
    margin-top: 90px;
    line-height: 30px;
}

.desc_outer{
    display: flex;
    width: 1381px;
    height: 601px;
}
.desc_inner__title   {
    width: 590px;
    margin-top: 35px;
    font-size: 40px;
    margin-bottom: 0;
}
.little__title {
    margin-top: 30px;
    font-size: 40px;
    margin-bottom: 0;
}
.big__title {
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 35px;
}

ul {
    width: 525px;
    li {
        margin-top: 15px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
    }
    li::marker {
        font-size: 2rem;
        color: orange;
      }
}
.desc_outer_tube__picture{
    width: 765px;
    height: 620px;
    margin-left: 35px;
}
.red {
    color: #E33E54;
}
.rectangle{
    width: 74px;
    height: 5px;
    background-color: #E33E54;
}
.processer{
    height: 85px;
    width: 590px;
}
