.header{
    margin-top: 26px;
    margin-left: 63px;
    margin-right: 10px;
    height: 97px;
    display: flex;
    align-items: center;
}
.header__logo{
    width: 100px;
    height: 97px;
}
.header__burger{
    width: 56px;
    height: 56px;
    border: 1px solid #4C858B;
    border-radius: 50px;
    margin-left: 52px;
    margin-right: 31px;
}
.header__link{
    padding: 0;
    width: 620px;
    font-size: 16px;
    text-transform: uppercase;
    color: #4C858B;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
.header__mobile{
    display: flex;
    margin-left: 110px;
    margin-right: 70px;
}
.header__callback{
    margin-left: 7px;
    margin-right: 61px;
}
.header__buttons{
    display: flex;
    justify-items: center;
}
.bold{
    font-weight: 700;
}

.button{
    display: flex;
    border: 1px #E5E5E5 solid;
    border-radius: 50px;
    width: 56px;
    height: 56px;
    margin-left: 16px;
}
.button__img{
    margin: auto;
    width: 22px;
    height: 22px;
}
.vk{
    margin-right: 12px;
}
.tel{
    margin-right: 16px;
}
.inst{
    margin-right: 18px;
}
.what{
    margin-right: 40px;
}
