.header{
    margin-top: 26px;
    margin-left: 63px;
    margin-right: 72px;
    height: 97px;
    border: 1px black solid;
    display: flex;
    align-items: center;
}
.header__burger{
    width: 56px;
    height: 56px;
    border: 1px solid black;
    margin-left: 52px;
}
.header__logo{
    width: 100px;
    height: 97px;
}
.header__link{
    font-size: 16px;
}

.list{
    font-family: Montserrat;
}
.header__mobile{
    display: flex;
    margin-left: 56px;
    margin-right: 70px;
}
.bold{
    font-weight: 700;
}
.header__icon{
    width: 20px;
    height: 20px;
}