.header
    .header__logo
        img(src="./assets/images/Logo.png", alt="Логотип сайта")
    .header__burger 
    
    .header__link
        ul.list.bold
            a(href="#")  Каталог товаров
            a(href="#")  Доставка и оплата
            a(href="#")  Цены
            a(href="#")  Контакты
    .header__mobile 
        p +7 (812)&nbsp;
        p.bold 509 21 98
    .header__callback 
        a Перезвоните мне
    .header__icon 
        img(src="./assets/images/vk.png", alt="")
        img(src="./assets/images/telegram.png", alt="")
        img(src="./assets/images/instagram.png", alt="")
        img(src="./assets/images/whatsapp.png", alt="")
    .header__buttons
        .button
            img.button__img(src="./assets/images/loupe.png", alt="") 
        .button
            img.button__img(src="./assets/images/heart.png", alt="") 
        .button
            img.button__img(src="./assets/images/shopping-cart.png", alt="") 
