.header{
    margin-top: 26px;
    margin-left: 63px;
    margin-right: 72px;
    height: 97px;
    border: 1px black solid;
    display: flex;
    align-items: center;
}
.header__burger{
    width: 56px;
    height: 56px;
    border: 1px solid black;
    margin-left: 52px;
}
.header__logo{
    width: 100px;
    height: 97px;
}
.header__link{
    font-size: 16px;
    text-transform: uppercase;

color: #4C858B;
}

.list{
    font-family: Montserrat;
    display: flex;
    justify-content: space-between;
}
.header__mobile{
    display: flex;
    margin-left: 56px;
    margin-right: 70px;
}
.bold{
    font-weight: 700;
}
.header__buttons{
    display: flex;
    justify-items: center;
}
.button{
    display: flex;
    border: 1px #E5E5E5 solid;
    border-radius: 50px;
    width: 56px;
    height: 56px;
    margin-left: 16px;
}
.button__img{
    margin: auto;
    width: 22px;
    height: 22px;
}
