.header
    .header__logo
        img(src="./assets/images/Logo.png", alt="Логотип сайта")
    .header__burger 
    
    .header__link
        ul.list.bold
            a(href="#")  Каталог товаров
            a(href="#")  Доставка и оплата
            a(href="#")  Цены
            a(href="#")  Контакты
    .header__mobile 
        p +7 (812)&nbsp;
        p.bold 509 21 98
    .header__callback 
        a Перезвоните мне
    .header__ico
        +HeaderIcon(vk)
    .header__buttons
