.header{
    margin-top: 26px;
    margin-left: 63px;
    margin-right: 72px;
    width: 1785px;
    height: 97px;
    border: 1px black solid;
    display: flex;
    align-items: center;
}
.header__burger{
    width: 56px;
    height: 56px;
    border: 1px solid black;
    margin-left: 52px;
}
.header__logo{
    width: 100px;
    height: 97px;
}
.list{
    font-family: Montserrat;
}
.header__mobile{
    display: flex;
}
.bold{
    font-weight: bold;
}


