<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
.header
    .header__logo
        img(src="./assets/images/Logo.png", alt="Логотип сайта")
    .header__burger
        .line 
        .line 
        .line 
        
    ul.header__link.bold
        a(href="#")  Каталог товаров
        a(href="#")  Доставка и оплата
        a(href="#")  Цены
        a(href="#")  Контакты
    .header__mobile 
        p +7 (812)&nbsp;
        p.bold 509 21 98
    .header__callback.red.bold7
        a Перезвоните мне
    .header__icon 
        img.vk(src="./assets/images/vk.png", alt="")
        img.tel(src="./assets/images/telegram.png", alt="")
        img.inst(src="./assets/images/instagram.png", alt="")
        img.what(src="./assets/images/whatsapp.png", alt="")
    .header__buttons
        .button
            img.button__img(src="./assets/images/loupe.png", alt="") 
        .button
            img.button__img(src="./assets/images/heart.png", alt="") 
        .button
            .red__icon 
                p 10
            img.button__img(src="./assets/images/shopping-cart.png", alt="") 
