.footer
    .footer__container
        .footer__container__item 
            p.f_title КАТАЛОГ
            .text_box
                .text_box__first
                    p Дымоходы
                    p Дымососы
                    p Печи для дома
                    p Печи для бани
                .text_box__second
                    p Камины
                    p Силикат кальция
                    p Котлы
                    p Еще
        .footer__container__item 
            p.f_title ИНФОРМАЦИЯ
            .text_box
                .text_box__first
                    p Каталог
                    p Установка и монтаж
                    p Отзывы
                    p Ликвидация товара
                .text_box__second
                    p Полезное
                    p Контакты
                    p Оплата и доставка
        .footer__container__item 
            p.f_title ВРЕМЯ РАБОТЫ
            .time_box
                img(src="./assets/images/wall-clock.png", width="15px" height="15px" alt="часы")
                p.timer
                span.tim пн-пт
                | 9:00 – 20:00
                span.tim сб-вс
                | 10:00 – 18:00
            .adress_box
                img(src="./assets/images/point.png", width="11px" height="15px" alt="часы")
                p.adress г. Санкт - Петербург ,ул. Тамбасова д.7
            .icons 
                img.vk(src="./assets/images/vk.png", alt="")
                img.tel(src="./assets/images/telegram.png", alt="")
                img.inst(src="./assets/images/instagram.png", alt="")
                img.what(src="./assets/images/whatsapp.png", alt="")
